[Unit]
Description=compton
Documentation=man:compton(1)

[Service]
ExecStart=/usr/bin/compton -d :0 --write-pid-path %t/compton.pid
ExecReload=/usr/bin/pkill -USR1 -F %t/compton.pid
PIDFile=%t/compton.pid
Type=simple

[Install]
WantedBy=mystuff.target
